**/*.git
**/.config/mpd/database
**/.config/mpd/log
**/.config/mpd/pid
**/.config/mpd/playlists/
**/.config/mpd/state
**/.config/mpd/sticker.sql
**/.config/mpv/watch_later/
**/.config/ncmpcpp/error.log
**/.config/ncmpcpp/lyrics
**/.config/newsboat/cache.db
**/.config/newsboat/cache.db.lock
**/.config/newsboat/history.cmdline
**/.config/newsboat/history.search
**/.config/newsboat/urls
**/.config/nvim/plugin/*
**/.config/qutebrowser/bookmarks/urls
**/.config/qutebrowser/quickmarks
**/.config/transmission-daemon/blocklists
**/.config/transmission-daemon/resume
**/.config/transmission-daemon/torrents
**/.config/transmission-daemon/dht.dat
**/.config/transmission-daemon/stats.json
**/.config/zsh/.zcompdump
**/.config/w3m/history
**/.config/wallpaper.jpg
*.ssh/
